{% extends "customer_center.html" %}

{% block info %}
<!-- 
    这里的标签内容仅限于单个商品，当多个商品时，考虑使用tornado的python for循环(http://shouce.jb51.net/tornado/ch2.html)来创建多行目标，其中action或者href为根据
    目标而生成的码，通过正则表达式(http://shouce.jb51.net/tornado/ch1.html#ch1-2-1-2)获取地址后的码来获取需要修改的目标
 -->
<div>
    <div class="top" style="background: #3b5998 ; line-height: 200%;">
        <center>
            <ul>
                <li><a href="/customer/center/orderhistory" style="background-color:white; color: black;">Order
                        History</a></li>
                <li><a href="/customer/center/address">Address</a></li>
                <li><a href="/customer/center/shoppingcart">Shopping Cart</a></li>
            </ul>
        </center>
    </div>

</div>

<div>
    <div>
        <h4>Order:</h4>
        <h4>Order Number: LG123456789</h4>
        <table border="10"
            style="width: 100%; height: 80px;text-align: center; background-color: #3b5998;color: white;">
            <tr>
                <th>订单号</th>
                <th>总价</th>
                <th>下单时间</th>
                <th>收获地址</th>
                <th>订单状态</th>
            </tr>
            <tr>
                <td><a href="\customer\order\LG123456789"> LG123456789 </a></td>
                <td>20.0</td>
                <td>2020-4-1:20:16:32 </td>
                <td>广东省深圳市龙岗区香港中文大学深圳 </td>
                <td>完成</td>
            </tr>
        </table>
        <table border="10" style="width: 100%; height: 50px;text-align: center;">
            <tr>
                <th>商品</th>
                <th>单价</th>
                <th>数量</th>
                <th>总价</th>
                <th>评分</th>
                <th>店铺</th>
            </tr>
            <tr>
                <td>Pepsi Cola</td>
                <td>2</td>
                <td>10 </td>
                <td>20 </td>
                <td>4.5 </td>
                <td>Pepsi Store</td>
            </tr>
        </table>
    </div>


</div>



</div>

{% end %}